.Toolbar {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 20px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 10px #ccc;
}

.Toolbar nav {
    height: 100%;
    display: none;
}


.Menu {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.Menu div {
    width: 90%;
    height: 3px;
    background-color: grey;
}

@media (min-width: 500px) {
    .Toolbar nav {
        height: 100%;
        display: block;
    }
    .Menu {
        display: none;
    }
}
